<?xml version="1.0"?>
<ruleset name="BoxUK WordPress Packages"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">

	<config name="text_domain" value="boxuk" />
	<config name="testVersion" value="8.2-" /> <!-- Set the PHP version to test against --><config name="minimum_supported_wp_version" value="6.4" />
	<config name="minimum_supported_wp_version" value="6.4" /> <!-- Set the minimum supported WordPress version -->

    <!-- Output Progress and Colors -->
    <arg value="sp"/>
    <arg name="colors"/>

    <!-- Scan Packages -->
	<file>./packages/</file>

	<exclude-pattern>/vendor</exclude-pattern>
	<exclude-pattern>/build</exclude-pattern>
	<exclude-pattern>/node_modules</exclude-pattern>
	<exclude-pattern>/coverage</exclude-pattern>
	<exclude-pattern>/packages/index.php</exclude-pattern>
	<exclude-pattern>*.asset.php</exclude-pattern>

	<!-- Third party packages -->
	<exclude-pattern>/packages/akismet</exclude-pattern>
	<exclude-pattern>/packages/hello.php</exclude-pattern>

    <!-- Exclude dependencies -->
    <exclude-pattern>*/mu-plugins/wp-feature-flags*</exclude-pattern>
    <exclude-pattern>*/mu-plugins/wp-editor-tools*</exclude-pattern>
    <exclude-pattern>wp-content/plugins*</exclude-pattern>

    <!-- Let PHPCS know our custom capabilities. -->
	<rule ref="WordPress.WP.Capabilities">
		<properties>
			<property name="custom_capabilities" type="array">
				<!-- <element value="custom_capability" /> -->
			</property>
		</properties>
	</rule>

    <!-- Follow BoxUK Coding Standards -->
    <rule ref="WordPress-Box" />

</ruleset>
