includes:
    - packages/vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 9
  bootstrapFiles: [ tests/bootstrap-phpstan.php ]
  paths:
    - packages
  excludePaths:
    analyse:
      - packages/vendor
      - /**/tests/*
    analyseAndScan:
      - packages/vendor/10up/wp_mock # WP_Mock functions override the signatures from php-stubs/wordpress
